### **Prerequisites**

In [148]:
import pandas as pd
import altair as alt

Видалимо першу стрічку, так як там непотрібна інформація

In [149]:
df = pd.read_csv('data/GLB.Ts_dSST.csv', skiprows=1)
df.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA,SON
0,1880,-0.29,-0.18,-0.11,-0.19,-0.11,-0.23,-0.21,-0.09,-0.16,-0.23,-0.20,-0.23,-0.19,***,***,-0.14,-0.18,-0.20
1,1881,-0.15,-0.17,0.04,0.04,0.02,-0.20,-0.06,-0.02,-0.13,-0.20,-0.21,-0.10,-0.10,-.11,-.18,0.03,-0.09,-0.18
2,1882,0.15,0.15,0.04,-0.18,-0.16,-0.26,-0.20,-0.05,-0.10,-0.24,-0.16,-0.24,-0.10,-.09,.06,-0.10,-0.17,-0.17
3,1883,-0.31,-0.39,-0.13,-0.17,-0.20,-0.12,-0.08,-0.15,-0.20,-0.14,-0.22,-0.16,-0.19,-.20,-.31,-0.16,-0.12,-0.19
4,1884,-0.15,-0.08,-0.37,-0.42,-0.36,-0.40,-0.34,-0.26,-0.27,-0.24,-0.30,-0.28,-0.29,-.28,-.13,-0.39,-0.34,-0.27

Видалимо непотрібні колонки

In [150]:
df.drop(df.columns.difference(['Year', 'J-D']), axis=1, inplace = True)
df.head()

   Year   J-D
0  1880 -0.19
1  1881 -0.10
2  1882 -0.10
3  1883 -0.19
4  1884 -0.29

Переіменуємо колонкии

In [151]:
df.columns = ['year', 'avg_temperature']
df.head()

   year  avg_temperature
0  1880            -0.19
1  1881            -0.10
2  1882            -0.10
3  1883            -0.19
4  1884            -0.29

In [152]:
df.dtypes

year                 int64
avg_temperature    float64
dtype: object

In [153]:
len(df)

138

In [154]:
base = alt.Chart(df).mark_point(filled=True, size=80).encode(
    x=alt.X(
        field='year',
        title='',
        type='quantitative',
        scale=alt.Scale(
            zero=False
        ),
        axis=alt.Axis(
            tickCount = 10,
            format='1f'
            )),
    y=alt.Y(
        field='avg_temperature',
        title='',
        type='quantitative',
        axis=alt.Axis(
            tickCount=10,
            labelExpr='datum.value > 0 ? "+" + datum.value + "\u00b0" : datum.value + "\u00b0"'
        )
    ),
    color=alt.value('rgb(255,108,0)'),
)

line = alt.Chart(pd.DataFrame({'y': [0]})).mark_rule().encode(y='y')

(base + line).properties(
    width=900,
    height=500,
    background='#F9F9F9',
    padding=50
    ).configure_axis(
        domain = False,
        ticks = False
    ).configure_axisLeft(
        labelColor='rgb(153,153,153)',
        titleColor='rgb(153,153,153)'
    ).configure_axisBottom(
        labelColor='rgb(1   53,153,153)',
        titleColor='rgb(153,153,153)'
    )

alt.LayerChart(...)